.cart-body {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.empty-cart-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action-cart {
  margin: 1rem;
}
