.card {
  width: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  border: 2px solid white;
  margin: 1rem;
  transition: transform 0.2s, box-shadow 0.2s;
  -o-transition: transform 0.2s, box-shadow 0.2s;
  -moz-transition: transform 0.2s, box-shadow 0.2s;
  -webkit-transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translate(0, -5px);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.45);
}

.card-img img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.card-btn {
  margin: 1rem !important;
}

@media (max-width: 322px) {
  .card {
    margin: 1rem 0;
  }
}
